<h1 id="新トレーナー体制に伴う新制度開始のお知らせ">新トレーナー体制に伴う新制度開始のお知らせ</h1>

<p>作成： @yamato</p>

<p>この1月より事業部によるアドバイザー機能等を取り入れた新トレーナー体制が敷かれますが、新体制導入に伴い同時に開始される3つの制度について告知します。</p>

<h2 id="トレーナーフィードバック制度について">トレーナーフィードバック制度について</h2>

<p>月次で、受講生と事業部からトレーナーに対しての個別フィードバックを行います。</p>

<h3 id="面談時の共有内容">面談時の共有内容</h3>

<ul>
  <li>担当受講生からの評価分析結果</li>
  <li>事業部からの評価分析結果</li>
  <li>来月のトレーナー成長目標合意</li>
</ul>

<h3 id="開始時期">開始時期</h3>

<ul>
  <li>2017年1月下旬に評価アンケート回収</li>
  <li>2017年2月上旬に順次個人面談開始</li>
</ul>

<h2 id="事業部カイゼン制度について">事業部カイゼン制度について</h2>

<p>月次で、トレーナーから事業部への活動評価を元にミーティングの場で事業部改善提案を行います。</p>

<h3 id="ミーテ時の共有内容">ミーテ時の共有内容</h3>

<ul>
  <li>トレーナーから事業部への評価分析結果</li>
  <li>フィードバックを元にした事業部活動改善提案</li>
  <li>来月の事業部改善目標合意</li>
</ul>

<h3 id="開始時期-1">開始時期</h3>

<ul>
  <li>2017年1月下旬に評価アンケート回収</li>
  <li>2017年2月最初のトレーナーズミーテより改善案打診</li>
</ul>

<h2 id="新報酬体系について">新報酬体系について</h2>

<p>お給料体系が変わります。</p>

<h3 id="2016年12月まで">2016年12月まで</h3>

<ul>
  <li>全員一律
    <ul>
      <li>固定給30,000円</li>
    </ul>
  </li>
</ul>

<h3 id="2017年1月から">2017年1月から</h3>

<ul>
  <li>1グループ担当者
    <ul>
      <li>評価給20,000円〜40,000円</li>
    </ul>
  </li>
  <li>2グループ担当者
    <ul>
      <li>評価給40,000円〜80,000円</li>
    </ul>
  </li>
</ul>

<h3 id="評価方式">評価方式</h3>

<ul>
  <li>受講者からの活動評価／事業部からの活動評価の合算で算出</li>
  <li>活動評価は月次FB面談で事業部から伝えられる</li>
  <li>原則、前月分の評価が当月分に反映される
    <ul>
      <li>例）2017年1月の評価は2017年2月のお給料に反映される</li>
    </ul>
  </li>
  <li>評価項目は2017年2月上旬の初回個人面談にて同時に公開する</li>
</ul>

<h3 id="開始時期-2">開始時期</h3>

<ul>
  <li>2017年2月上旬の個人面談にて2017年1月期の評価確定</li>
  <li>従って2016年2月分給与より評価給制導入</li>
  <li>2017年1月分給与は1グループ担当者20,000円、2グループ担当者40,000円とする</li>
</ul>

<p>以上</p>

