<h1 id="経営組織論期末ノート">経営組織論期末ノート</h1>

<p>作成: @yamatoabe 2017-07-25</p>

<p>[TOC]</p>

<h4 id="1-組織現象をレンズで多面的に捉え多面的に捉える意義を論じる">1. 組織現象をレンズで多面的に捉え、多面的に捉える意義を論じる</h4>

<ol>
  <li>12のレンズ
    <ol>
      <li>協働の体系</li>
      <li>価値と意味の体系</li>
      <li>規則の体系</li>
      <li>生涯発達の場</li>
      <li>多元的重複集団</li>
      <li>意思決定装置</li>
      <li>対立と創造の源</li>
      <li>ハコ・組織図</li>
      <li>受動的環境適応装置</li>
      <li>能動的環境適応装置</li>
      <li>価値創造の仕組み</li>
      <li>社会的問題解決手段</li>
      <li>​</li>
    </ol>
  </li>
</ol>

<h4 id="2-人を協働させるためには何に配慮すべきかリナックスハッカーの例を用いて原理について論じる">2. 人を協働させるためには何に配慮すべきか、リナックスハッカーの例を用いて原理について論じる</h4>

<ol>
  <li>協働の体系
    <ol>
      <li>Incentive - Contributionバランス</li>
      <li>共通の目的</li>
      <li>協働への意欲</li>
      <li>コミュニケーション手段</li>
    </ol>
  </li>
  <li>リナックスの開発の仕組み
    <ol>
      <li>頻繁にリリース</li>
      <li>仲間を増やす</li>
      <li>参加を促す</li>
      <li>評価する</li>
    </ol>
  </li>
</ol>

<h4 id="3-プロフェッショナルとは何かまたプロフェッショナル集団をマネジメントする方法を図示する">3. プロフェッショナルとは何か、またプロフェッショナル集団をマネジメントする方法を図示する</h4>

<ol>
  <li>プロフェッショナルとは
    <ol>
      <li>仕事人（✕：組織人）</li>
      <li>組織に紐付かず、仕事を通じた自己実現・高次欲求充足を目指す</li>
    </ol>
  </li>
  <li>プロフェッショナル集団をマネジメントする方法
    <ol>
      <li>組織　⇆　個人　⇆　仕事</li>
      <li>組織　←（必要な範囲での貢献／高次欲求充足の条件獲得＋低次欲求の充足）→　個人</li>
      <li>個人　←（高次欲求の充足／最大限の貢献）→　仕事</li>
      <li>大学　←（授業）→　個人　←（研究）→　教授職</li>
    </ol>
  </li>
</ol>

<h4 id="4-キャリアアンカーとは何かまた代表的なキャリアアンカーを複数取り上げ表にまとめ対比する">4. キャリアアンカーとは何か、また代表的なキャリアアンカーを複数取り上げ表にまとめ対比する</h4>

<ol>
  <li>キャリア・アンカーとは
    <ol>
      <li>キャリアにおける選択、職業や職種、勤務先などを選ぶ際の「判断基準」</li>
      <li>社会人のキャリア選択の「基本指針」であり、キャリアを「方向付ける役割」を果たす</li>
      <li>自分らしく生きるために、自分のキャリアにおいて絶対に譲りたくない「最も大切なこと」</li>
    </ol>
  </li>
  <li>代表的なキャリアアンカーを複数
    <ol>
      <li>純粋な挑戦
        <ol>
          <li>挑戦、克服、競争、達成、打ち勝つ、ライバル、トップクラス</li>
        </ol>
      </li>
      <li>保障・安定
        <ol>
          <li>安全、安定、手堅い、着実な、パターン化、忠誠心、終身</li>
        </ol>
      </li>
      <li>起業家的創造性
        <ol>
          <li>起業、創業、事業を起こす、創意工夫、ビジネスチャンス、オーナー</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>

<h4 id="5-リアリスティックジョブプレビューの意義と限界について説明する">5. リアリスティック・ジョブ・プレビューの意義と限界について説明する</h4>

<ol>
  <li>RJPとは
    <ol>
      <li>採用活動のときに本当の会社の姿を伝える</li>
    </ol>
  </li>
  <li>メリット
    <ol>
      <li>市場型の短期適応に適した即戦力となる人材は育成できる</li>
      <li>リアリティショックが少ない</li>
      <li>セルフスクリーニング効果</li>
      <li>他の企業と比較し合う</li>
    </ol>
  </li>
  <li>デメリット
    <ol>
      <li>曖昧性に耐えながら多様なスキルを持った人物の育成には向かない</li>
      <li>本当の情報がわからない</li>
      <li>多くの人から選抜できない</li>
      <li>優秀な人が来ない</li>
    </ol>
  </li>
  <li>効力を発揮する条件
    <ol>
      <li>建設業で効果がある傾向が認められる</li>
      <li>社内公募</li>
      <li>管理職登用</li>
      <li>中途採用</li>
      <li>人材派遣</li>
    </ol>
  </li>
</ol>

<h4 id="6-組織文化とは何かエドガーシャインの考え方やモデルを図示しながら具体例と共に説明する">6. 組織文化とは何か、エドガー・シャインの考え方やモデルを図示しながら具体例と共に説明する</h4>

<ol>
  <li>組織文化とは何か</li>
  <li>組織に共有された、規範、価値観、信念</li>
  <li>会社によって「これが正しい」と考えられているルール</li>
  <li>組織文化の3つのレベル
    <ol>
      <li>人工物
        <ol>
          <li>創りだされた物理的・社会的環境</li>
          <li>建物、オフィスのレイアウト、服装、社員の振る舞い、理念、行事</li>
        </ol>
      </li>
      <li>価値
        <ol>
          <li>議論されたり疑問視されたり反対されることもあるもの</li>
          <li>リーダーが何か主張したとすれば、それはリーダーの信念に基づいた価値の表明</li>
          <li>構成員には納得している人としていない人がいる</li>
        </ol>
      </li>
      <li>基本的仮定
        <ol>
          <li>対立もなく議論の余地もない無意識なもの</li>
          <li>議論され得る「価値」が、成功体験によって、徐々に「仮定」になる</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>基本的仮定の5項目
    <ol>
      <li>現実と真実の本質：時間</li>
      <li>現実と真実の本質：空間</li>
      <li>人間性の本質</li>
      <li>人間活動の本質</li>
      <li>人間関係の本質</li>
    </ol>
  </li>
</ol>

<h4 id="7-リーダーシップを定義し望ましいリーダーシップ行動を図示しながらフォロワーの成熟度別に論じる">7. リーダーシップを定義し、望ましいリーダーシップ行動を図示しながらフォロワーの成熟度別に論じる</h4>

<ol>
  <li>リーダーシップとは
    <ol>
      <li>ついてくる人がいる</li>
      <li>ついてゆく人が自律的である</li>
    </ol>
  </li>
  <li>（Z順に）支援的行動（Y）×指示的行動（X)別の効果的リーダー行動とフォロワーのレディネス
    <ol>
      <li>支援型（低指示／高支援）
        <ol>
          <li>中Bレディネス：能力は高いが、意欲が弱く不安を残す</li>
          <li>◯：参画・励まし・支持支援・権限付与</li>
          <li>✕：保護・懐柔・へりくだり・なだめる</li>
        </ol>
      </li>
      <li>コーチ型（高指示／高支援）
        <ol>
          <li>中Aレディネス：能力は低いが、意欲や確信を示す</li>
          <li>◯：売り込み・説明・明確化・説得</li>
          <li>✕：操作・説教・言い訳・合理化</li>
        </ol>
      </li>
      <li>委任型（低指示／低支援）
        <ol>
          <li>高レディネス：能力が高く、意欲や確信を示す</li>
          <li>◯：委任・観察・信頼・依頼</li>
          <li>✕：放任・放てき・回避・引っ込み</li>
        </ol>
      </li>
      <li>指示型（高指示／低支援）
        <ol>
          <li>低レディネス：能力も意欲も低く、不安を示す</li>
          <li>◯：教示・ガイド・指図・決めてしまう</li>
          <li>✕：要求・けなす・支配・責める</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>

<h4 id="8-完全合理的意思決定と制約された意思決定を表にまとめながら対比的に説明する">8. 完全合理的意思決定と制約された意思決定を表にまとめながら対比的に説明する</h4>

<ol>
  <li>完全合理的意思決定
    <ol>
      <li>意思決定フロー
        <ol>
          <li>問題の認識</li>
          <li>判断基準の特定</li>
          <li>判断基準の比較</li>
          <li>選択肢のリストアップ</li>
          <li>ランク付け</li>
          <li>最適な選択肢の選択</li>
        </ol>
      </li>
      <li>不明確点が多く完全合理性は難しい</li>
    </ol>
  </li>
  <li>限定合理的意思決定
    <ol>
      <li>満足度基準達成</li>
      <li>直感が正しいかどうかチェックする</li>
    </ol>
  </li>
  <li>4C意思決定
    <ol>
      <li>Compositionメンバー構成</li>
      <li>Context背景設定</li>
      <li>Communication対話の仕組み</li>
      <li>Control立場の明確化</li>
    </ol>
  </li>
</ol>

<h4 id="9-グループシンクが起きる原因とその解消方法を説明する">9. グループシンクが起きる原因とその解消方法を説明する</h4>

<ol>
  <li>グループシンクの定義
    <ol>
      <li>凝集性の高い集団において発生する</li>
      <li>集団内の合意を得ようと意識するあまり、意思決定が非合理的な方向に歪められる</li>
    </ol>
  </li>
  <li>グループシンクの兆候
    <ol>
      <li>対立相手を潰すことに力を入れる</li>
      <li>議論の手間を惜しもうとする</li>
    </ol>
  </li>
  <li>グループシンクの原因
    <ol>
      <li>リーダーの影響力が強い</li>
      <li>外部から孤立している</li>
      <li>時間的プレッシャーがある</li>
      <li>秩序立った意思決定手続きがない</li>
    </ol>
  </li>
  <li>グループシンクの解決法
    <ol>
      <li>偏りのないリーダーの任命・育成</li>
      <li>意見に対し多くの批評ができるよう議論をリードする</li>
      <li>集団としての目的を意識させ他者の意見に対して偏見を持たずに評価する</li>
      <li>議論のプロセスの工夫</li>
    </ol>
  </li>
</ol>

<h4 id="10-組織でコンフリクトが起きる原因とその解消方法を説明する">10. 組織でコンフリクトが起きる原因とその解消方法を説明する</h4>

<ol>
  <li>コンフリクトの種類
    <ol>
      <li>目標コンフリクト</li>
      <li>認知コンフリクト</li>
      <li>感情コンフリクト</li>
      <li>行動コンフリクト</li>
    </ol>
  </li>
  <li>コンフリクトの発生箇所
    <ol>
      <li>個人内</li>
      <li>個人間</li>
      <li>集団内</li>
      <li>集団間</li>
    </ol>
  </li>
  <li>コンフリクトの発生原因
    <ol>
      <li>目標コンフリクト
        <ol>
          <li>目標が異なる時に起きる</li>
        </ol>
      </li>
      <li>認知コンフリクト
        <ol>
          <li>意見や考えが一致しないときに起きる</li>
        </ol>
      </li>
      <li>感情コンフリクト
    1. 感情的にそりが合わない時に起きる</li>
      <li>行動コンフリクト
        <ol>
          <li>受け入れがたい行動をした時に起きる</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>コンフリクトの解決方法
    <ol>
      <li>自己主張（Y）と協力（X）のトレードオフ</li>
      <li>（Z順に）競争・協調・妥協・回避・適応</li>
    </ol>
  </li>
</ol>

<h4 id="11-組織内の分業にはどのようなものがあるか基本形を図示しながら説明し功罪を解説する">11. 組織内の分業にはどのようなものがあるか、基本形を図示しながら説明し、功罪を解説する</h4>

<ol>
  <li>組織内分業の基本形
    <ol>
      <li>垂直分業
        <ol>
          <li>考える</li>
          <li>実行する</li>
        </ol>
      </li>
      <li>水平分業：機能別分業
        <ol>
          <li>パン製造：こねる</li>
          <li>パン製造：形成する</li>
          <li>パン製造：焼く</li>
          <li>パン販売</li>
        </ol>
      </li>
      <li>水平分業：並行分業
        <ol>
          <li>パン製造：食パン①</li>
          <li>パン製造：食パン②</li>
          <li>パン製造：食パン③</li>
          <li>パン販売</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>機能別分業の功罪
    <ol>
      <li>メリット
        <ol>
          <li>生産性向上</li>
          <li>経済的スタッフィング</li>
          <li>一店舗で確実に利益を上げたい時</li>
        </ol>
      </li>
      <li>デメリット
        <ol>
          <li>働く人の意欲低下</li>
          <li>全体像がつかめない</li>
          <li>考えて改善できる余地が限られる</li>
          <li>学んで成長する領域が限られる</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>

<h4 id="12-職能別事業部別マトリックス組織とは何か図示しながら功罪を比較し説明する">12. 職能別、事業部別、マトリックス組織とは何か、図示しながら功罪を比較し説明する</h4>

<ol>
  <li>職能別組織とは
    <ol>
      <li>生産、販売、研究開発、購買、財務、経理、人事など</li>
      <li>同種の専門職能ごとに部門化を行った組織</li>
      <li>長所：専門家の利益、規模の経済</li>
      <li>短所：評価の難しさ（評価基準の違い）、トップの負担（部門間調整）、部門間対立</li>
    </ol>
  </li>
  <li>事業部別組織とは
    <ol>
      <li>事業別、製品別、あるいは地域別に複数の自律的単位に分割されている</li>
      <li>事業部とは独立した本社機構が設けられている</li>
      <li>長所：部門評価の明確さ、健全な内部競争、トップの長期的視座</li>
      <li>短所：設備・投資・人員・知識などの無駄、短期的な業績優先、部門間に落ちる・またがる仕事</li>
    </ol>
  </li>
  <li>マトリックス組織とは
    <ol>
      <li>2ボスシステム</li>
      <li>バランスを取る方法
        <ol>
          <li>職能部門長と事業部門長が腹を割って話し合う</li>
          <li>両者のコンフリクトをトップが強権によって解消</li>
          <li>ミドル自身が葛藤をしながら適宜バランスをとる</li>
          <li>コンフリクトに強いタフなミドルが必要</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>

<h4 id="13-技能を機械化することはよいことか技能の水準や種類の状況別に機械化の功罪を説明する">13. 技能を機械化することはよいことか、技能の水準や種類の状況別に機械化の功罪を説明する</h4>

<ol>
  <li>技能者集団ピラミッドの検討項目
    <ol>
      <li>階層：どこまでIT化・機械化するのか</li>
      <li>形：階層ごとの技能者の構成</li>
      <li>境界：外部からの採用や外部への転属</li>
    </ol>
  </li>
  <li>階層
    <ol>
      <li>現状維持</li>
      <li>下位の機械化</li>
      <li>中位の機械化</li>
    </ol>
  </li>
  <li>形
    <ol>
      <li>現状維持</li>
      <li>下位拡大と中上位効率化</li>
      <li>階層構造維持スリム化</li>
    </ol>
  </li>
  <li>境界
    <ol>
      <li>現状維持</li>
      <li>リストラ</li>
    </ol>
  </li>
</ol>

<h4 id="14-ビジョナリーカンパニーとはどのようなものかその特徴と経営者の役割具体例を説明する">14. ビジョナリーカンパニーとはどのようなものか、その特徴と経営者の役割、具体例を説明する</h4>

<ol>
  <li>ビジョナリー・カンパニーとは
    <ol>
      <li>長期に渡って卓越した企業</li>
      <li>しっかりとした基本的理念（基本的価値観＋目的）がある</li>
      <li>基本的価値観：組織にとって不可欠で普遍の主義</li>
      <li>目的：単なるカネ儲けを超えた会社の根源的な存在理由</li>
    </ol>
  </li>
  <li>経営者の役割とは
    <ol>
      <li>時を告げる
        <ol>
          <li>みんな俺についてこいタイプ</li>
          <li>社長から答えを教える</li>
        </ol>
      </li>
      <li>時計を作る
        <ol>
          <li>きみはどう思うタイプ</li>
          <li>社員に自ら答えを見つけさせる</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>

<hr />

<h4 id="-メモ-">[ メモ ]</h4>
